{
  "openapi": "3.1.0",
  "info": {
    "version": "1.6.0",
    "title": "PayZu Pix API",
    "description": "REST API for Pix operations on the PayZu platform, deposits, withdrawals, internal transfers, infractions, reports, and callback inspection. All amounts are in BRL (reais) unless explicitly noted. Authentication uses a Bearer token issued during onboarding.\n\n## SDKs oficiais\n\n- Node.js: `npm install payzu-pix`\n- Python: `pip install payzu-pix`\n- Go: `go get github.com/PayZuPlus/payzu-sdks/go`\n- PHP: `composer require payzu/pix`\n\nRepo: https://github.com/PayZuPlus/payzu-sdks\n",
    "contact": {
      "name": "Suporte PayZu",
      "url": "https://suporte.payzu.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.payzu.processamento.com/v1",
      "description": "Produção"
    }
  ],
  "tags": [
    {
      "name": "Pix Operations",
      "description": "Create and manage Pix charges (deposits)"
    },
    {
      "name": "Withdrawals",
      "description": "Send money via Pix (cash out) and DICT key/QR-code consultation"
    },
    {
      "name": "Internal Transfer",
      "description": "Transfer funds between PayZu accounts (free, instant)"
    },
    {
      "name": "Account",
      "description": "Account profile, balance, and auto-withdraw configuration"
    },
    {
      "name": "Reports",
      "description": "Transaction history, reports, bank statements, and pending deposits"
    },
    {
      "name": "Callbacks",
      "description": "Webhook callback inspection and re-trigger"
    },
    {
      "name": "Infractions",
      "description": "Manage Pix infractions (disputes, fraud reports) and submit defenses"
    }
  ],
  "paths": {
    "/pix": {
      "post": {
        "summary": "Create Charge (Pix deposit)",
        "description": "Create a new Pix **deposit** (charge). Returns QR Code and transaction details.",
        "operationId": "post_pix",
        "tags": [
          "Pix Operations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount in BRL. Must be >= 1.",
                    "example": 10.9,
                    "minimum": 1
                  },
                  "callbackUrl": {
                    "type": "string",
                    "description": "URL to receive `transaction updated` webhooks.",
                    "example": "https://webhook.cool/"
                  },
                  "generatedName": {
                    "type": "string",
                    "description": "Payer full name. Letters and spaces only.",
                    "example": "John Doe"
                  },
                  "generatedEmail": {
                    "type": "string",
                    "description": "Payer email (optional).",
                    "example": "john.doe@example.com"
                  },
                  "generatedDocument": {
                    "type": "string",
                    "description": "Payer CPF (11 digits) or CNPJ (14 digits), no punctuation.",
                    "example": "12345678901"
                  },
                  "expiresIn": {
                    "type": "number",
                    "description": "Seconds until the QR Code expires. Default: 600.",
                    "example": 600,
                    "maximum": 172000
                  },
                  "clientReference": {
                    "type": "string",
                    "description": "External reference (order, invoice, etc.).",
                    "example": "order_12345",
                    "maxLength": 64
                  },
                  "virtualAccount": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Subconta virtual (até 50 caracteres) para correlacionar lojas, filiais, marketplaces. Volta no callback."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                },
                "examples": {
                  "created": {
                    "summary": "Created (PENDING)",
                    "value": {
                      "id": "PAYZU20250817215911F49RDOBJ",
                      "status": "PENDING",
                      "amount": 10,
                      "type": "DEPOSIT",
                      "qrCodeText": "00020126870014br.gov.bcb.pix2565qrcode.payzu.com.br/dynamic/d7790b91-3979-4ad5-9d96-ee941e5a42765204000053039865802BR5908PAYZUPLUS6009SAO PAULO62070503***63047EE4",
                      "qrCodeBase64": "iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQCAYAAAC...",
                      "qrCodeUrl": "https://pix.payzu.com.br/v1/pix/qr-code/PAYZU20250817215911F49RDOBJ",
                      "generatedName": "John Doe",
                      "generatedDocument": "12345678901",
                      "generatedEmail": "john.doe@example.com",
                      "serviceFeeCharged": 0.115,
                      "payerName": null,
                      "payerDocument": null,
                      "payerInstitutionIspb": null,
                      "payerInstitutionName": null,
                      "payerAccountNumber": null,
                      "receiverName": null,
                      "receiverDocument": null,
                      "receiverInstitutionIspb": null,
                      "receiverInstitutionName": null,
                      "receiverAccountNumber": "513579",
                      "endToEndId": null,
                      "createdAt": "2025-08-17T21:59:11.579Z",
                      "updatedAt": "2025-08-17T21:59:11.579Z",
                      "paidAt": null,
                      "withdrawPixKey": null,
                      "withdrawPixType": null,
                      "clientReference": "order_12345",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, payload or query string failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "querystring/dateFrom Invalid input: expected string, received undefined",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing or invalid Bearer token, or token lacks the required permission for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 401,
                      "error": "Unauthorized",
                      "message": "Missing or invalid Bearer token",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      },
      "get": {
        "summary": "Retrieve Charge",
        "description": "Get the latest status and details for a Pix **deposit (charge)**. Provide **one** of `id`, `clientReference`, or `endToEndId`. Use apenas um destes parâmetros: id, clientReference, endToEndId. Combinar mais de um retorna erro.",
        "operationId": "get_pix",
        "tags": [
          "Pix Operations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "default": "application/json"
            },
            "description": "Obrigatório em toda chamada PayZu."
          },
          {
            "in": "query",
            "name": "id",
            "required": false,
            "description": "Transaction ID.",
            "schema": {
              "type": "string"
            },
            "example": "PAYZU20250817215911F49RDOBJ"
          },
          {
            "in": "query",
            "name": "clientReference",
            "required": false,
            "description": "External reference provided when creating the charge.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endToEndId",
            "required": false,
            "description": "Pix end-to-end ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "virtualAccount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "description": "Subconta virtual (até 50 caracteres) usada na criação. Aceito como chave de busca alternativa."
          }
        ],
        "responses": {
          "200": {
            "description": "Current transaction state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                },
                "examples": {
                  "pending": {
                    "summary": "Pending payment",
                    "value": {
                      "id": "PAYZU20250817215911F49RDOBJ",
                      "status": "PENDING",
                      "amount": 10,
                      "type": "DEPOSIT",
                      "qrCodeText": "00020126870014br.gov.bcb.pix2565qrcode.payzu.com.br/dynamic/d7790b91-3979-4ad5-9d96-ee941e5a42765204000053039865802BR5908PAYZUPLUS6009SAO PAULO62070503***63047EE4",
                      "qrCodeBase64": "iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQCAYAAAC...",
                      "qrCodeUrl": "https://pix.payzu.com.br/v1/pix/qr-code/PAYZU20250817215911F49RDOBJ",
                      "generatedName": "John Doe",
                      "generatedDocument": "12345678901",
                      "generatedEmail": "john.doe@example.com",
                      "serviceFeeCharged": 0.115,
                      "payerName": null,
                      "payerDocument": null,
                      "payerInstitutionIspb": null,
                      "payerInstitutionName": null,
                      "payerAccountNumber": null,
                      "receiverName": null,
                      "receiverDocument": null,
                      "receiverInstitutionIspb": null,
                      "receiverInstitutionName": null,
                      "receiverAccountNumber": "513579",
                      "endToEndId": null,
                      "createdAt": "2025-08-17T21:59:11.579Z",
                      "updatedAt": "2025-08-17T21:59:11.579Z",
                      "paidAt": null,
                      "withdrawPixKey": null,
                      "withdrawPixType": null,
                      "clientReference": "order_12345",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  },
                  "completed": {
                    "summary": "Completed payment",
                    "value": {
                      "id": "PAYZU20250817215911F49RDOBJ",
                      "status": "COMPLETED",
                      "amount": 10,
                      "type": "DEPOSIT",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": "John Doe",
                      "generatedDocument": "12345678901",
                      "generatedEmail": "john.doe@example.com",
                      "serviceFeeCharged": 0.115,
                      "payerName": "John Doe",
                      "payerDocument": "12345678901",
                      "payerInstitutionIspb": "12345678",
                      "payerInstitutionName": "Banco X",
                      "payerAccountNumber": null,
                      "receiverName": "PayZu Pagamentos Ltda",
                      "receiverDocument": "12.345.678/0001-00",
                      "receiverInstitutionIspb": "23066240",
                      "receiverInstitutionName": "PAYZU IP LTDA.",
                      "receiverAccountNumber": "513579",
                      "endToEndId": "E123456782025081422403B13DMS72H9",
                      "createdAt": "2025-08-17T21:59:11.579Z",
                      "updatedAt": "2025-08-17T22:01:30.123Z",
                      "paidAt": "2025-08-17T22:01:30.123Z",
                      "withdrawPixKey": null,
                      "withdrawPixType": null,
                      "clientReference": "order_12345",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, payload or query string failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "querystring/dateFrom Invalid input: expected string, received undefined",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing or invalid Bearer token, or token lacks the required permission for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 401,
                      "error": "Unauthorized",
                      "message": "Missing or invalid Bearer token",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 404,
                      "error": "Not Found",
                      "message": "Resource not found",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pix/key": {
      "get": {
        "summary": "Dict Pix Key Lookup",
        "description": "Query the DICT (Diretório de Identificadores de Contas Transacionais) to retrieve information about a Pix key before sending a payment. Returns the key owner's details and associated financial institution.",
        "operationId": "get_pix_key",
        "tags": [
          "Withdrawals"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "default": "application/json"
            },
            "description": "Obrigatório em toda chamada PayZu."
          },
          {
            "in": "query",
            "name": "pixKey",
            "required": true,
            "description": "The Pix key to lookup (CPF, CNPJ, email, phone, or EVP).",
            "schema": {
              "type": "string",
              "maxLength": 77,
              "minLength": 1
            },
            "example": "example@payzu.com.br"
          }
        ],
        "responses": {
          "200": {
            "description": "Pix key information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixKeyInfo"
                },
                "examples": {
                  "pj": {
                    "summary": "Legal Entity (PJ)",
                    "value": {
                      "pixKey": "5c8999e2-6b29-468b-b4e9-04d4872b1bc4",
                      "document": "**.345.678/****-**",
                      "name": "EMPRESA EXEMPLO LTDA",
                      "branch": "****",
                      "accountNumber": "*******",
                      "personType": "PJ",
                      "accountType": "CACC",
                      "institutionIspb": "12345678",
                      "institutionCode": "001",
                      "institutionName": "BANCO EXEMPLO S.A."
                    }
                  },
                  "pf": {
                    "summary": "Individual (PF)",
                    "value": {
                      "pixKey": "12345678901",
                      "document": "***.456.789-**",
                      "name": "João da Silva",
                      "branch": "****",
                      "accountNumber": "********",
                      "personType": "PF",
                      "accountType": "TRAN",
                      "institutionIspb": "87654321",
                      "institutionCode": "260",
                      "institutionName": "BANCO FICTICIO S.A."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Pix key format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "INVALID_PIX_KEY"
                    },
                    "message": {
                      "type": "string",
                      "example": "The provided Pix key has an invalid format."
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "querystring/dateFrom Invalid input: expected string, received undefined",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pix key not found in DICT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "PIX_KEY_NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "The specified Pix key was not found in DICT."
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 404,
                      "error": "Not Found",
                      "message": "Resource not found",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pix/qrcode/read": {
      "post": {
        "summary": "Read QR Code",
        "description": "Decode and extract information from a Pix QR Code (EMV format) before making a payment. Returns the parsed data including receiver details, amount (if present), and other QR Code metadata. No momento a PayZu só suporta QR Code dinâmico. QR estático ainda não é processado.",
        "operationId": "post_pix_qrcode_read",
        "tags": [
          "Withdrawals"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "emv"
                ],
                "properties": {
                  "emv": {
                    "type": "string",
                    "description": "The EMV payload string from the Pix QR Code.",
                    "example": "00020101021226770014br.gov.bcb.pix2555api.payzu/pix/qr/v2/013318d6-2d7d-479e-8bb3-b5c7b9da688c5204000053039865802BR5916PAYZU 6007SAOPAULO6217051320260118278956304EC55"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR Code decoded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QRCodeReadResponse"
                },
                "examples": {
                  "dynamic": {
                    "summary": "Dynamic QR Code",
                    "value": {
                      "qrCodeType": "DYNAMIC",
                      "name": "LOJA EXEMPLO LTDA",
                      "document": "12345678000199",
                      "amount": 10,
                      "originalAmount": 10,
                      "txid": "c5886b83f0254d0dbfc3900f72d5a8d1",
                      "additionalInfo": null,
                      "expiresIn": 1799,
                      "createdAt": "2026-02-03T22:59:36.138"
                    }
                  },
                  "static": {
                    "summary": "Static QR Code",
                    "value": {
                      "qrCodeType": "STATIC",
                      "name": "MARIA SANTOS",
                      "document": "98765432100",
                      "amount": 1,
                      "originalAmount": 1,
                      "txid": "QRTEST20251103083119867",
                      "additionalInfo": null,
                      "expiresIn": 0,
                      "createdAt": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid QR Code format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "INVALID_QR_CODE"
                    },
                    "message": {
                      "type": "string",
                      "example": "The provided EMV payload is invalid or malformed."
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "querystring/dateFrom Invalid input: expected string, received undefined",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/proof/{id}": {
      "get": {
        "summary": "Get Transaction Receipt",
        "description": "Retorna o comprovante da transação como JSON com o campo `base64` (PDF codificado). Decodifique pra exibir ou salvar como `.pdf`.",
        "operationId": "get_proof",
        "tags": [
          "Pix Operations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "default": "application/json"
            },
            "description": "Obrigatório em toda chamada PayZu."
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Transaction ID.",
            "schema": {
              "type": "string"
            },
            "example": "PAYZU2025081418333632CYKN8M"
          },
          {
            "in": "query",
            "name": "type",
            "required": false,
            "description": "Return format.",
            "schema": {
              "type": "string",
              "enum": [
                "pdf",
                "base64"
              ],
              "default": "pdf"
            },
            "example": "pdf"
          }
        ],
        "responses": {
          "200": {
            "description": "Base64 if `type=base64`, otherwise binary PDF.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "base64": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "base64": {
                    "summary": "As Base64",
                    "value": {
                      "base64": "JVBERi0xLjQKJ..."
                    }
                  }
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "PDF binário (formato padrão, quando `type=pdf`)."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, payload or query string failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "querystring/type Invalid input",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing or invalid Bearer token, or token lacks the required permission for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 401,
                      "error": "Unauthorized",
                      "message": "Missing or invalid Bearer token",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 404,
                      "error": "Not Found",
                      "message": "Resource not found",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/withdraw": {
      "post": {
        "summary": "Create Withdrawal (Pix key)",
        "description": "Send a Pix **cash out** to the specified Pix key.",
        "operationId": "post_withdraw",
        "tags": [
          "Withdrawals"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "pixKey",
                  "pixType"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount in BRL. Must be >= 1.",
                    "example": 2,
                    "minimum": 0.01
                  },
                  "pixKey": {
                    "type": "string",
                    "description": "Destination Pix key.",
                    "example": "teste@teste.com"
                  },
                  "pixType": {
                    "type": "string",
                    "description": "Pix key type.",
                    "enum": [
                      "cpf",
                      "cnpj",
                      "phone",
                      "email",
                      "evp"
                    ],
                    "example": "email"
                  },
                  "callbackUrl": {
                    "type": "string",
                    "description": "Webhook URL for status updates.",
                    "example": "https://webhook.cool/"
                  },
                  "clientReference": {
                    "type": "string",
                    "description": "External reference for this withdrawal.",
                    "example": "withdraw_98765",
                    "maxLength": 64
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description.",
                    "example": "Weekly payout"
                  },
                  "virtualAccount": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Subconta virtual (até 50 caracteres) para correlacionar lojas, filiais, marketplaces. Volta no callback."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                },
                "examples": {
                  "created": {
                    "summary": "Created (PENDING)",
                    "value": {
                      "id": "PAYZU2025081721512946OOLK75",
                      "status": "PENDING",
                      "amount": 2,
                      "type": "WITHDRAW",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": null,
                      "generatedDocument": null,
                      "generatedEmail": null,
                      "payerName": null,
                      "payerDocument": null,
                      "payerInstitutionIspb": null,
                      "payerInstitutionName": null,
                      "payerAccountNumber": "513579",
                      "serviceFeeCharged": 1,
                      "withdrawPixKey": "teste@teste.com",
                      "withdrawPixType": "email",
                      "receiverName": null,
                      "receiverDocument": null,
                      "receiverInstitutionIspb": null,
                      "receiverInstitutionName": null,
                      "receiverAccountNumber": null,
                      "endToEndId": null,
                      "createdAt": "2025-08-17T21:51:29.748Z",
                      "updatedAt": "2025-08-17T21:51:29.748Z",
                      "paidAt": null,
                      "clientReference": "withdraw_98765",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  },
                  "completed": {
                    "summary": "Completed",
                    "value": {
                      "id": "PAYZU2025081721512946OOLK75",
                      "status": "COMPLETED",
                      "amount": 2,
                      "type": "WITHDRAW",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": null,
                      "generatedDocument": null,
                      "generatedEmail": null,
                      "serviceFeeCharged": 1,
                      "payerName": "PayZu Pagamentos Ltda",
                      "payerDocument": "12.345.678/0001-00",
                      "payerInstitutionIspb": "23066240",
                      "payerInstitutionName": "PAYZU IP LTDA.",
                      "payerAccountNumber": "513579",
                      "withdrawPixKey": "teste@teste.com",
                      "withdrawPixType": "email",
                      "receiverName": "Maria Santos",
                      "receiverDocument": "12345678901",
                      "receiverInstitutionIspb": "87654321",
                      "receiverInstitutionName": "Banco Y",
                      "receiverAccountNumber": null,
                      "endToEndId": "E2306624020251217134500X98765432",
                      "createdAt": "2025-08-17T21:51:29.748Z",
                      "updatedAt": "2025-08-17T21:52:15.123Z",
                      "paidAt": "2025-08-17T21:52:15.123Z",
                      "clientReference": "withdraw_98765",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, payload or query string failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "querystring/dateFrom Invalid input: expected string, received undefined",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing or invalid Bearer token, or token lacks the required permission for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 401,
                      "error": "Unauthorized",
                      "message": "Missing or invalid Bearer token",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      },
      "get": {
        "summary": "Retrieve Withdrawal",
        "description": "Retorna o status e os detalhes atuais de um saque. Informe pelo menos um destes parâmetros: `id`, `clientReference` ou `endToEndId`. Se informar mais de um, todos são aplicados como filtro (AND), o que pode não retornar registro caso não apontem para a mesma transação.",
        "operationId": "get_withdraw",
        "tags": [
          "Withdrawals"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "default": "application/json"
            },
            "description": "Obrigatório em toda chamada PayZu."
          },
          {
            "in": "query",
            "name": "id",
            "required": false,
            "description": "Transaction ID.",
            "schema": {
              "type": "string"
            },
            "example": "PAYZU2025081721512946OOLK75"
          },
          {
            "in": "query",
            "name": "clientReference",
            "required": false,
            "description": "External reference provided when creating the withdrawal.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endToEndId",
            "required": false,
            "description": "Pix end-to-end ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "virtualAccount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "description": "Subconta virtual (até 50 caracteres) usada na criação. Aceito como chave de busca alternativa."
          }
        ],
        "responses": {
          "200": {
            "description": "Current withdrawal state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                },
                "examples": {
                  "pending": {
                    "summary": "Pending withdrawal",
                    "value": {
                      "id": "PAYZU2025081721512946OOLK75",
                      "status": "PENDING",
                      "amount": 2,
                      "type": "WITHDRAW",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": null,
                      "generatedDocument": null,
                      "generatedEmail": null,
                      "payerName": null,
                      "payerDocument": null,
                      "payerInstitutionIspb": null,
                      "payerInstitutionName": null,
                      "payerAccountNumber": "513579",
                      "serviceFeeCharged": 1,
                      "withdrawPixKey": "teste@teste.com",
                      "withdrawPixType": "email",
                      "receiverName": null,
                      "receiverDocument": null,
                      "receiverInstitutionIspb": null,
                      "receiverInstitutionName": null,
                      "receiverAccountNumber": null,
                      "endToEndId": null,
                      "createdAt": "2025-08-17T21:51:29.748Z",
                      "updatedAt": "2025-08-17T21:51:29.748Z",
                      "paidAt": null,
                      "clientReference": "withdraw_98765",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  },
                  "completed": {
                    "summary": "Completed withdrawal",
                    "value": {
                      "id": "PAYZU2025081721512946OOLK75",
                      "status": "COMPLETED",
                      "amount": 2,
                      "type": "WITHDRAW",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": null,
                      "generatedDocument": null,
                      "generatedEmail": null,
                      "serviceFeeCharged": 1,
                      "payerName": "PayZu Pagamentos Ltda",
                      "payerDocument": "12.345.678/0001-00",
                      "payerInstitutionIspb": "23066240",
                      "payerInstitutionName": "PAYZU IP LTDA.",
                      "payerAccountNumber": "513579",
                      "withdrawPixKey": "teste@teste.com",
                      "withdrawPixType": "email",
                      "receiverName": "Maria Santos",
                      "receiverDocument": "12345678901",
                      "receiverInstitutionIspb": "87654321",
                      "receiverInstitutionName": "Banco Y",
                      "receiverAccountNumber": null,
                      "endToEndId": "E2306624020251217134500X98765432",
                      "createdAt": "2025-08-17T21:51:29.748Z",
                      "updatedAt": "2025-08-17T21:52:15.123Z",
                      "paidAt": "2025-08-17T21:52:15.123Z",
                      "clientReference": "withdraw_98765",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, payload or query string failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "querystring/dateFrom Invalid input: expected string, received undefined",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing or invalid Bearer token, or token lacks the required permission for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 401,
                      "error": "Unauthorized",
                      "message": "Missing or invalid Bearer token",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 404,
                      "error": "Not Found",
                      "message": "Resource not found",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/withdraw/qrcode": {
      "post": {
        "summary": "Create Withdrawal using QR Code",
        "description": "Cash out using a **Pix QR Code** (static/dynamic). If `amount` is not provided, the QR Code's embedded value will be used. No momento a PayZu só suporta QR Code dinâmico. QR estático ainda não é processado.",
        "operationId": "post_withdraw_qrcode",
        "tags": [
          "Withdrawals"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "qrCode"
                ],
                "properties": {
                  "qrCode": {
                    "type": "string",
                    "description": "Pix QR Code payload (EMV format).",
                    "example": "00020101021226770014br.gov.bcb.pix2555api.payzu/pix/qr/v2/013318d6-2d7d-479e-8bb3-b5c7b9da688c5204000053039865802BR5916PAYZU 6007SAOPAULO6217051320260118278956304EC55"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount in BRL. Optional - if not provided, uses the QR Code's embedded value.",
                    "example": 20,
                    "minimum": 0.1
                  },
                  "callbackUrl": {
                    "type": "string",
                    "description": "Webhook URL for status updates.",
                    "example": "https://webhook.cool/"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description for the payment.",
                    "example": "Pagamento via QR Code"
                  },
                  "clientReference": {
                    "type": "string",
                    "description": "External reference for this withdrawal.",
                    "example": "order-123"
                  },
                  "virtualAccount": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Subconta virtual (até 50 caracteres) para correlacionar lojas, filiais, marketplaces. Volta no callback."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal created from QR Code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                },
                "examples": {
                  "with_amount": {
                    "summary": "Created with custom amount",
                    "value": {
                      "id": "PAYZU202511061998787515D0PH2Y",
                      "status": "PENDING",
                      "amount": 20,
                      "type": "WITHDRAW",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": null,
                      "generatedDocument": null,
                      "generatedEmail": null,
                      "serviceFeeCharged": 1,
                      "payerName": null,
                      "payerDocument": null,
                      "payerInstitutionIspb": null,
                      "payerInstitutionName": null,
                      "payerAccountNumber": "513579",
                      "withdrawPixKey": "88888888888",
                      "withdrawPixType": "cpf",
                      "receiverName": null,
                      "receiverDocument": null,
                      "receiverInstitutionIspb": null,
                      "receiverInstitutionName": null,
                      "receiverAccountNumber": null,
                      "endToEndId": null,
                      "createdAt": "2025-11-06T19:08:55.848Z",
                      "updatedAt": "2025-11-06T19:08:55.848Z",
                      "paidAt": null,
                      "clientReference": "order-123",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  },
                  "without_amount": {
                    "summary": "Created using QR Code value",
                    "value": {
                      "id": "PAYZU202511061998787515D0PH2Z",
                      "status": "PENDING",
                      "amount": 150,
                      "type": "WITHDRAW",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": null,
                      "generatedDocument": null,
                      "generatedEmail": null,
                      "serviceFeeCharged": 1,
                      "payerName": null,
                      "payerDocument": null,
                      "payerInstitutionIspb": null,
                      "payerInstitutionName": null,
                      "payerAccountNumber": "513579",
                      "withdrawPixKey": "example@payzu.com.br",
                      "withdrawPixType": "email",
                      "receiverName": null,
                      "receiverDocument": null,
                      "receiverInstitutionIspb": null,
                      "receiverInstitutionName": null,
                      "receiverAccountNumber": null,
                      "endToEndId": null,
                      "createdAt": "2025-11-06T19:10:00.000Z",
                      "updatedAt": "2025-11-06T19:10:00.000Z",
                      "paidAt": null,
                      "clientReference": "order-12323456",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid QR Code or missing amount for static QR Code without value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "AMOUNT_REQUIRED"
                    },
                    "message": {
                      "type": "string",
                      "example": "Amount is required for QR Codes without embedded value."
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "querystring/dateFrom Invalid input: expected string, received undefined",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/withdraw/proof/{id}": {
      "get": {
        "summary": "Get Withdrawal Receipt",
        "description": "Retorna o comprovante da transação como JSON com o campo `base64` (PDF codificado). Decodifique pra exibir ou salvar como `.pdf`.",
        "operationId": "get_withdraw_proof",
        "tags": [
          "Withdrawals"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "default": "application/json"
            },
            "description": "Obrigatório em toda chamada PayZu."
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Transaction ID.",
            "schema": {
              "type": "string"
            },
            "example": "PAYZU2025081721512946OOLK75"
          },
          {
            "in": "query",
            "name": "type",
            "required": false,
            "description": "Return format.",
            "schema": {
              "type": "string",
              "enum": [
                "pdf",
                "base64"
              ],
              "default": "pdf"
            },
            "example": "pdf"
          }
        ],
        "responses": {
          "200": {
            "description": "Base64 if `type=base64`, otherwise binary PDF.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "base64": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "base64": {
                    "summary": "As Base64",
                    "value": {
                      "base64": "JVBERi0xLjQKJ..."
                    }
                  }
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "PDF binário (formato padrão, quando `type=pdf`)."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, payload or query string failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "querystring/type Invalid input",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing or invalid Bearer token, or token lacks the required permission for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 401,
                      "error": "Unauthorized",
                      "message": "Missing or invalid Bearer token",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 404,
                      "error": "Not Found",
                      "message": "Resource not found",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "summary": "Account Info",
        "description": "Account profile, permissions, limits and fee rules.",
        "operationId": "get_user",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "accountNumber": {
                      "type": "string",
                      "nullable": true,
                      "description": "Public account identifier (6 digits, unique). Used as destination for internal transfers."
                    },
                    "name": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "balanceAvailable": {
                      "type": "number"
                    },
                    "balanceBlocked": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string"
                    },
                    "allowWithdraw": {
                      "type": "boolean"
                    },
                    "allowDeposit": {
                      "type": "boolean"
                    },
                    "allowInfraction": {
                      "type": "boolean"
                    },
                    "cashInTicketMin": {
                      "type": "number"
                    },
                    "cashInTicketMax": {
                      "type": "number"
                    },
                    "cashOutTicketMin": {
                      "type": "number"
                    },
                    "cashOutTicketMax": {
                      "type": "number"
                    },
                    "AutoWithdraw": {
                      "type": "object",
                      "nullable": true
                    },
                    "ServiceFee": {
                      "type": "object",
                      "properties": {
                        "cashInMinimum": {
                          "type": "number"
                        },
                        "cashInFixed": {
                          "type": "number"
                        },
                        "cashInPercent": {
                          "type": "number"
                        },
                        "cashOutMinimum": {
                          "type": "number"
                        },
                        "cashOutFixed": {
                          "type": "number"
                        },
                        "cashOutPercent": {
                          "type": "number"
                        }
                      }
                    },
                    "DailyWithdrawLimit": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "number"
                        },
                        "used": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "lastReset": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "ok": {
                    "summary": "Account information",
                    "value": {
                      "accountNumber": "513579",
                      "name": "PAYZU",
                      "role": "USER",
                      "balanceAvailable": 231.46,
                      "balanceBlocked": 0,
                      "status": "ACTIVE",
                      "allowWithdraw": true,
                      "allowDeposit": true,
                      "allowInfraction": true,
                      "cashInTicketMin": 1,
                      "cashInTicketMax": 50000,
                      "cashOutTicketMin": 1,
                      "cashOutTicketMax": 100000,
                      "AutoWithdraw": null,
                      "ServiceFee": {
                        "cashInMinimum": 0,
                        "cashInFixed": 0,
                        "cashInPercent": 0,
                        "cashOutMinimum": 0,
                        "cashOutFixed": 0,
                        "cashOutPercent": 0
                      },
                      "DailyWithdrawLimit": {
                        "limit": 100000000,
                        "used": 40000,
                        "updatedAt": "2025-10-21T21:16:47.759Z",
                        "lastReset": "2025-10-21T21:16:47.759Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing or invalid Bearer token, or token lacks the required permission for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 401,
                      "error": "Unauthorized",
                      "message": "Missing or invalid Bearer token",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 404,
                      "error": "Not Found",
                      "message": "Resource not found",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "default": "application/json"
            },
            "description": "Obrigatório em toda chamada PayZu."
          }
        ]
      }
    },
    "/user/balance": {
      "get": {
        "summary": "Account Balance",
        "description": "Available and blocked balances.",
        "operationId": "get_user_balance",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balanceAvailable": {
                      "type": "number"
                    },
                    "balanceBlocked": {
                      "type": "number"
                    }
                  }
                },
                "examples": {
                  "ok": {
                    "summary": "Current balance",
                    "value": {
                      "balanceAvailable": 231.46,
                      "balanceBlocked": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing or invalid Bearer token, or token lacks the required permission for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 401,
                      "error": "Unauthorized",
                      "message": "Missing or invalid Bearer token",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "default": "application/json"
            },
            "description": "Obrigatório em toda chamada PayZu."
          }
        ]
      }
    },
    "/user/transactions": {
      "get": {
        "summary": "List Transactions",
        "description": "Paginated list of account transactions with filters.",
        "operationId": "get_user_transactions",
        "tags": [
          "Reports"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "default": "application/json"
            },
            "description": "Obrigatório em toda chamada PayZu."
          },
          {
            "in": "query",
            "name": "dateFrom",
            "required": false,
            "description": "Start date (YYYY-MM-DD).",
            "schema": {
              "type": "string"
            },
            "example": "2025-08-01"
          },
          {
            "in": "query",
            "name": "dateTo",
            "required": false,
            "description": "End date (YYYY-MM-DD).",
            "schema": {
              "type": "string"
            },
            "example": "2025-08-17"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Items per page (max 1000).",
            "schema": {
              "type": "number",
              "default": 10
            },
            "example": 10
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "description": "Page number (default 1).",
            "schema": {
              "type": "number",
              "default": 1
            },
            "example": 1
          },
          {
            "in": "query",
            "name": "id",
            "required": false,
            "description": "Transaction ID.",
            "schema": {
              "type": "string"
            },
            "example": "PAYZU2025081418333632CYKN8M"
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "description": "Status da transação. Aceita CSV: PENDING,COMPLETED,etc.",
            "schema": {
              "type": "string",
              "example": "COMPLETED,PENDING"
            },
            "example": "COMPLETED"
          },
          {
            "in": "query",
            "name": "type",
            "required": false,
            "description": "Tipo da transação. Aceita CSV: DEPOSIT,WITHDRAW,COMMISSION.",
            "schema": {
              "type": "string",
              "example": "DEPOSIT,WITHDRAW"
            },
            "example": "DEPOSIT"
          },
          {
            "in": "query",
            "name": "amount",
            "required": false,
            "description": "Amount filter. Mínimo 0.01.",
            "schema": {
              "type": "number",
              "minimum": 0.01
            },
            "example": 15000
          },
          {
            "in": "query",
            "name": "document",
            "required": false,
            "description": "CPF (11 dígitos) ou CNPJ (14 dígitos), apenas números sem formatação.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{11,14}$"
            },
            "example": "12345678901"
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "description": "Name filter.",
            "schema": {
              "type": "string"
            },
            "example": "Alice"
          },
          {
            "in": "query",
            "name": "endToEndId",
            "required": false,
            "description": "Pix end-to-end ID.",
            "schema": {
              "type": "string"
            },
            "example": "E00360305202508141833bcf1f37b487"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt"
              ],
              "default": "createdAt"
            },
            "description": "Field to sort by"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction"
          },
          {
            "name": "clientReference",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by external reference"
          },
          {
            "name": "virtualAccount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "description": "Subconta virtual (até 50 caracteres) usada na criação. Aceito como chave de busca alternativa."
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    }
                  }
                },
                "examples": {
                  "two": {
                    "summary": "Two deposits",
                    "value": {
                      "total": 104,
                      "pages": 2,
                      "transactions": [
                        {
                          "id": "PAYZU202511061998787515D0PH2Y",
                          "amount": 10,
                          "status": "PENDING",
                          "type": "DEPOSIT",
                          "qrCodeText": "00020126860014br.gov.bcb.pix2564qrcode.payzu.com.br/pix/84f95c33-3c86-4708-87f1-0e09b96b35795204000053039865802BR5908PAYZPLUS6009SAO PAULO62070503***63048227",
                          "qrCodeBase64": null,
                          "qrCodeUrl": "https://pix.payzu.com.br/v1/pix/qr-code/PAYZU202511061998787515D0PH2Y",
                          "serviceFeeCharged": 0.115,
                          "payerDocument": null,
                          "payerName": null,
                          "payerInstitutionIspb": null,
                          "payerInstitutionName": null,
                          "receiverDocument": null,
                          "receiverName": null,
                          "receiverInstitutionIspb": null,
                          "receiverInstitutionName": null,
                          "generatedDocument": "00000000191",
                          "generatedName": "THIAGO SILVA",
                          "generatedEmail": null,
                          "endToEndId": null,
                          "withdrawPixKey": null,
                          "withdrawPixType": null,
                          "paidAt": null,
                          "createdAt": "2025-11-06T22:06:19.598Z",
                          "updatedAt": "2025-11-06T22:06:19.598Z",
                          "clientReference": "order_12345",
                          "refundEndToEndId": null,
                          "refundAmount": null,
                          "refundStatus": null,
                          "refundReason": null,
                          "refundDescription": null,
                          "refundedAt": null,
                          "cancellationReason": null
                        },
                        {
                          "id": "PAYZU202511061998787515D0PH2Y",
                          "amount": 5.5,
                          "status": "ERROR",
                          "type": "WITHDRAW",
                          "qrCodeText": null,
                          "qrCodeBase64": null,
                          "qrCodeUrl": null,
                          "serviceFeeCharged": 1,
                          "payerDocument": null,
                          "payerName": null,
                          "payerInstitutionIspb": null,
                          "payerInstitutionName": null,
                          "receiverDocument": null,
                          "receiverName": null,
                          "receiverInstitutionIspb": null,
                          "receiverInstitutionName": null,
                          "generatedDocument": null,
                          "generatedName": null,
                          "generatedEmail": null,
                          "endToEndId": null,
                          "withdrawPixKey": "88888888888",
                          "withdrawPixType": "cpf",
                          "paidAt": null,
                          "createdAt": "2025-11-06T19:08:55.848Z",
                          "updatedAt": "2025-11-06T19:09:13.602Z",
                          "clientReference": null,
                          "refundEndToEndId": null,
                          "refundAmount": null,
                          "refundStatus": null,
                          "refundReason": null,
                          "refundDescription": null,
                          "refundedAt": null,
                          "cancellationReason": "PIX_KEY_NOT_FOUND"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, payload or query string failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "querystring/dateFrom Invalid input: expected string, received undefined",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing or invalid Bearer token, or token lacks the required permission for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 401,
                      "error": "Unauthorized",
                      "message": "Missing or invalid Bearer token",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 404,
                      "error": "Not Found",
                      "message": "Resource not found",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/callbacks": {
      "get": {
        "summary": "List Callbacks",
        "description": "Returns a paginated list of webhook callback logs for the user's transactions.",
        "operationId": "get_user_callbacks",
        "tags": [
          "Callbacks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "default": "application/json"
            },
            "description": "Obrigatório em toda chamada PayZu."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "status"
              ],
              "default": "createdAt"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by callback ID"
          },
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by callback URL"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "HTTP status code"
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hasError",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter callbacks that errored"
          },
          {
            "name": "createdAtFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAtTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of callback logs with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackListResponse"
                },
                "examples": {
                  "list": {
                    "summary": "Callback log page",
                    "value": {
                      "pagination": {
                        "page": 1,
                        "limit": 10,
                        "hasNextPage": true
                      },
                      "callbacks": [
                        {
                          "id": "cmh211yjm03ohs601kf7672du",
                          "url": "https://great-lock-79.webhook.cool",
                          "status": 200,
                          "transactionId": "PAYZU2025102213082667EDC8079C",
                          "createdAt": "2025-10-22T13:26:53.219Z",
                          "responseTime": 124,
                          "body": {
                            "id": "PAYZU2025102213082667EDC8079C",
                            "type": "DEPOSIT",
                            "status": "REFUNDED"
                          },
                          "responseBody": "OK",
                          "responseHeaders": {
                            "content-type": "text/plain; charset=UTF-8"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, payload or query string failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "querystring/dateFrom Invalid input: expected string, received undefined",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing or invalid Bearer token, or token lacks the required permission for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 401,
                      "error": "Unauthorized",
                      "message": "Missing or invalid Bearer token",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "statusCode": 404,
                      "error": "Not Found",
                      "message": "Resource not found",
                      "requestId": "cmou00000abcdef01s6ghij1k2lm"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/callbacks/{id}": {
      "get": {
        "summary": "Get Callback",
        "description": "Returns the details of a specific callback log.",
        "operationId": "get_user_callback_by_id",
        "tags": [
          "Callbacks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "default": "application/json"
            },
            "description": "Obrigatório em toda chamada PayZu."
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique callback ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Callback details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackDetail"
                },
                "examples": {
                  "detail": {
                    "summary": "Single callback log",
                    "value": {
                      "id": "cmh211yjm03ohs601kf7672du",
                      "url": "https://great-lock-79.webhook.cool",
                      "status": 200,
                      "transactionId": "PAYZU2025102213082667EDC8079C",
                      "createdAt": "2025-10-22T13:26:53.219Z",
                      "responseTime": 124,
                      "body": {
                        "id": "PAYZU2025102213082667EDC8079C",
                        "type": "DEPOSIT",
                        "status": "REFUNDED"
                      },
                      "responseBody": "OK",
[...]
