/*
PayZu Pix API

REST API for Pix operations on the PayZu platform, deposits, withdrawals, internal transfers, infractions, reports, and callback inspection. All amounts are in BRL (reais) unless explicitly noted. Authentication uses a Bearer token issued during onboarding.  ## SDKs oficiais  - Node.js: `npm install @payzu/pix` - Python: `pip install payzu-pix` - Go: `go get github.com/PayZuPlus/payzu-sdks/go` - PHP: `composer require payzu/pix`  Repo: https://github.com/PayZuPlus/payzu-sdks 

API version: 1.5.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package payzupix

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// InfractionsAPIService InfractionsAPI service
type InfractionsAPIService service

type ApiGetInfractionsRequest struct {
	ctx context.Context
	ApiService *InfractionsAPIService
	contentType *string
	page *int32
	limit *int32
	status *string
	type_ *string
	endToEndId *string
	transactionId *string
	amountMin *float32
	amountMax *float32
	analysisResult *string
	reportedBy *string
	participantDocument *string
	participantName *string
}

// Obrigatório em toda chamada PayZu.
func (r ApiGetInfractionsRequest) ContentType(contentType string) ApiGetInfractionsRequest {
	r.contentType = &contentType
	return r
}

func (r ApiGetInfractionsRequest) Page(page int32) ApiGetInfractionsRequest {
	r.page = &page
	return r
}

func (r ApiGetInfractionsRequest) Limit(limit int32) ApiGetInfractionsRequest {
	r.limit = &limit
	return r
}

// Comma-separated InfractionStatus (WAITING_PSP,CLOSED,OPEN,CANCELLED,ACKNOWLEDGED,DEFENDED,ANSWERED,WAITING_ADJUSTMENTS)
func (r ApiGetInfractionsRequest) Status(status string) ApiGetInfractionsRequest {
	r.status = &status
	return r
}

// Comma-separated InfractionType (REFUND_REQUEST,FRAUD,REFUND_CANCELLED)
func (r ApiGetInfractionsRequest) Type_(type_ string) ApiGetInfractionsRequest {
	r.type_ = &type_
	return r
}

func (r ApiGetInfractionsRequest) EndToEndId(endToEndId string) ApiGetInfractionsRequest {
	r.endToEndId = &endToEndId
	return r
}

func (r ApiGetInfractionsRequest) TransactionId(transactionId string) ApiGetInfractionsRequest {
	r.transactionId = &transactionId
	return r
}

func (r ApiGetInfractionsRequest) AmountMin(amountMin float32) ApiGetInfractionsRequest {
	r.amountMin = &amountMin
	return r
}

func (r ApiGetInfractionsRequest) AmountMax(amountMax float32) ApiGetInfractionsRequest {
	r.amountMax = &amountMax
	return r
}

// Comma-separated AnalysisResult
func (r ApiGetInfractionsRequest) AnalysisResult(analysisResult string) ApiGetInfractionsRequest {
	r.analysisResult = &analysisResult
	return r
}

// Comma-separated ReportedType (DEBITED_PARTICIPANT,CREDITED_PARTICIPANT)
func (r ApiGetInfractionsRequest) ReportedBy(reportedBy string) ApiGetInfractionsRequest {
	r.reportedBy = &reportedBy
	return r
}

func (r ApiGetInfractionsRequest) ParticipantDocument(participantDocument string) ApiGetInfractionsRequest {
	r.participantDocument = &participantDocument
	return r
}

func (r ApiGetInfractionsRequest) ParticipantName(participantName string) ApiGetInfractionsRequest {
	r.participantName = &participantName
	return r
}

func (r ApiGetInfractionsRequest) Execute() (*InfractionListResponse, *http.Response, error) {
	return r.ApiService.GetInfractionsExecute(r)
}

/*
GetInfractions List Infractions

List all infractions for the authenticated user with pagination and filters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetInfractionsRequest
*/
func (a *InfractionsAPIService) GetInfractions(ctx context.Context) ApiGetInfractionsRequest {
	return ApiGetInfractionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InfractionListResponse
func (a *InfractionsAPIService) GetInfractionsExecute(r ApiGetInfractionsRequest) (*InfractionListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InfractionListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InfractionsAPIService.GetInfractions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/infractions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contentType == nil {
		return localVarReturnValue, nil, reportError("contentType is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.endToEndId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endToEndId", r.endToEndId, "form", "")
	}
	if r.transactionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionId", r.transactionId, "form", "")
	}
	if r.amountMin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "amountMin", r.amountMin, "form", "")
	}
	if r.amountMax != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "amountMax", r.amountMax, "form", "")
	}
	if r.analysisResult != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "analysisResult", r.analysisResult, "form", "")
	}
	if r.reportedBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reportedBy", r.reportedBy, "form", "")
	}
	if r.participantDocument != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "participantDocument", r.participantDocument, "form", "")
	}
	if r.participantName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "participantName", r.participantName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetPix400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetPix400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetPix400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetInfractionsByIdRequest struct {
	ctx context.Context
	ApiService *InfractionsAPIService
	contentType *string
	id string
}

// Obrigatório em toda chamada PayZu.
func (r ApiGetInfractionsByIdRequest) ContentType(contentType string) ApiGetInfractionsByIdRequest {
	r.contentType = &contentType
	return r
}

func (r ApiGetInfractionsByIdRequest) Execute() (*InfractionDetail, *http.Response, error) {
	return r.ApiService.GetInfractionsByIdExecute(r)
}

/*
GetInfractionsById Get Infraction

Get a specific infraction by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Infraction ID
 @return ApiGetInfractionsByIdRequest
*/
func (a *InfractionsAPIService) GetInfractionsById(ctx context.Context, id string) ApiGetInfractionsByIdRequest {
	return ApiGetInfractionsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return InfractionDetail
func (a *InfractionsAPIService) GetInfractionsByIdExecute(r ApiGetInfractionsByIdRequest) (*InfractionDetail, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InfractionDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InfractionsAPIService.GetInfractionsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/infractions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contentType == nil {
		return localVarReturnValue, nil, reportError("contentType is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetPix400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetInfractionsDefenseByIdRequest struct {
	ctx context.Context
	ApiService *InfractionsAPIService
	contentType *string
	infractionId string
	defenseId string
}

// Obrigatório em toda chamada PayZu.
func (r ApiGetInfractionsDefenseByIdRequest) ContentType(contentType string) ApiGetInfractionsDefenseByIdRequest {
	r.contentType = &contentType
	return r
}

func (r ApiGetInfractionsDefenseByIdRequest) Execute() (*Defense, *http.Response, error) {
	return r.ApiService.GetInfractionsDefenseByIdExecute(r)
}

/*
GetInfractionsDefenseById Get Defense

Get a specific defense for an infraction. **Requires support privileges**.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param infractionId Infraction ID
 @param defenseId Defense ID
 @return ApiGetInfractionsDefenseByIdRequest
*/
func (a *InfractionsAPIService) GetInfractionsDefenseById(ctx context.Context, infractionId string, defenseId string) ApiGetInfractionsDefenseByIdRequest {
	return ApiGetInfractionsDefenseByIdRequest{
		ApiService: a,
		ctx: ctx,
		infractionId: infractionId,
		defenseId: defenseId,
	}
}

// Execute executes the request
//  @return Defense
func (a *InfractionsAPIService) GetInfractionsDefenseByIdExecute(r ApiGetInfractionsDefenseByIdRequest) (*Defense, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Defense
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InfractionsAPIService.GetInfractionsDefenseById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/infractions/{infractionId}/defenses/{defenseId}"
	localVarPath = strings.Replace(localVarPath, "{"+"infractionId"+"}", url.PathEscape(parameterValueToString(r.infractionId, "infractionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"defenseId"+"}", url.PathEscape(parameterValueToString(r.defenseId, "defenseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contentType == nil {
		return localVarReturnValue, nil, reportError("contentType is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetPix400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetInfractionsDefensesRequest struct {
	ctx context.Context
	ApiService *InfractionsAPIService
	contentType *string
	id string
}

// Obrigatório em toda chamada PayZu.
func (r ApiGetInfractionsDefensesRequest) ContentType(contentType string) ApiGetInfractionsDefensesRequest {
	r.contentType = &contentType
	return r
}

func (r ApiGetInfractionsDefensesRequest) Execute() ([]Defense, *http.Response, error) {
	return r.ApiService.GetInfractionsDefensesExecute(r)
}

/*
GetInfractionsDefenses List Defenses

List all defenses for a specific infraction. **Requires support privileges**.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Infraction ID
 @return ApiGetInfractionsDefensesRequest
*/
func (a *InfractionsAPIService) GetInfractionsDefenses(ctx context.Context, id string) ApiGetInfractionsDefensesRequest {
	return ApiGetInfractionsDefensesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []Defense
func (a *InfractionsAPIService) GetInfractionsDefensesExecute(r ApiGetInfractionsDefensesRequest) ([]Defense, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Defense
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InfractionsAPIService.GetInfractionsDefenses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/infractions/{id}/defenses"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contentType == nil {
		return localVarReturnValue, nil, reportError("contentType is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetPix400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v GetPix400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetPix400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostInfractionsDefenseRequest struct {
	ctx context.Context
	ApiService *InfractionsAPIService
	id string
	defense *string
	files []*os.File
}

// Defense text (max: 1000 characters)
func (r ApiPostInfractionsDefenseRequest) Defense(defense string) ApiPostInfractionsDefenseRequest {
	r.defense = &defense
	return r
}

// Evidence files (max: 10MB total)
func (r ApiPostInfractionsDefenseRequest) Files(files []*os.File) ApiPostInfractionsDefenseRequest {
	r.files = files
	return r
}

func (r ApiPostInfractionsDefenseRequest) Execute() (*Defense, *http.Response, error) {
	return r.ApiService.PostInfractionsDefenseExecute(r)
}

/*
PostInfractionsDefense Create Defense

Create a defense for a specific infraction.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Infraction ID
 @return ApiPostInfractionsDefenseRequest
*/
func (a *InfractionsAPIService) PostInfractionsDefense(ctx context.Context, id string) ApiPostInfractionsDefenseRequest {
	return ApiPostInfractionsDefenseRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Defense
func (a *InfractionsAPIService) PostInfractionsDefenseExecute(r ApiPostInfractionsDefenseRequest) (*Defense, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Defense
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InfractionsAPIService.PostInfractionsDefense")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/infractions/{id}/defenses"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.defense == nil {
		return localVarReturnValue, nil, reportError("defense is required and must be specified")
	}
	if strlen(*r.defense) > 1000 {
		return localVarReturnValue, nil, reportError("defense must have less than 1000 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "defense", r.defense, "", "")
	var filesLocalVarFormFileName string
	var filesLocalVarFileName     string
	var filesLocalVarFileBytes    []byte

	filesLocalVarFormFileName = "files"
	filesLocalVarFile := r.files

	if filesLocalVarFile != nil {
		// loop through the array to prepare multiple files upload
		for _, filesLocalVarFileValue := range filesLocalVarFile {
			fbs, _ := io.ReadAll(filesLocalVarFileValue)

			filesLocalVarFileBytes = fbs
			filesLocalVarFileName = filesLocalVarFileValue.Name()
			filesLocalVarFileValue.Close()
			formFiles = append(formFiles, formFile{fileBytes: filesLocalVarFileBytes, fileName: filesLocalVarFileName, formFileName: filesLocalVarFormFileName})
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetPix400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetPix400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v GetPix400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
